.page-header {
    display: flex;
    margin-top: 39px;
    margin-left: 20px;
    margin-bottom: 42px;
    position: sticky;
    position: relative;
    top: 0;
}

.page-header__column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.page-header__column img {
    margin-right: 16px;
}

.page-header__column h1 {
    font-size: 20px;
    font-weight: 600;
}
/* 
#h1h1 {
    margin-right: 153px;
}

#h2h2 {
    margin-right: 95px;
}
#h3h3 {
    margin-right: 95px;
} */


.country-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
}

.country-select span {
    font-size: 16px;
    font-weight: 500;
}

.country-select img {
    width: 12px;
    height: 10px;
    margin-left: 20px;
}